@model myfinalproject.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="header">
                <nav class="h">

                    <ul>
                        <li> <a href="@Url.Action("Index","Home")">Top chart</a></li>
                        <li> <a href="@Url.Action("Contact","Home")">Contact us</a></li>
                        <li> <a href="@Url.Action("About","Home")">About us</a></li>
                        <li><a href="@Url.Action("Register","Home")" class="btn btn-warning"> Register</a></li>
                        <li><a href="@Url.Action("Logout","Home")" class="btn btn-warning"> Log out</a></li>
                    </ul>
                </nav>
            </div>
            <div class="card">
                <div id="loginpage">
                   <h3> Login </h3>
               
                <div>
                    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-primary" value="Login" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
        </div>
<style>
    #loginpage{
        margin-left: 20px;
        margin-top: 20px;
        background-color:indigo;
        color:white;
        font-family:Century;
        padding: 20px 20px 20px 20px;
    }
    .header{
    background-color:mediumpurple;
    margin: 0px 0px 0px -10px;
    padding: 20px 30px 35px 35px;
    width: 1376px;
    height: 83px;
}
.h ul{
    margin-left: 35px;
    margin-top: 2px;
}
    .h ul li {
        list-style: none;
        display: inline-block;
        padding-left:170px;
    }
    .h ul li a {

    transition: .25s;
    display: inline-block;
    font-size: 15px;
    color:white;
}


.h ul li a:hover {
    color: 	#f96a00;
    transition: .25s;

}
</style>

